<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Marzipan</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>


<body>
<!------------------------Шапка--------------------------------------->
  
<header class="logo_back logo_img logo_img_opa">
   <div class="shadow_line"></div>
    
</header>
  
<!--------------------------------------------------------------->
   

        {%for cake in cakes.object_list %}
        <img class="cakes_img effect" src=" {{ cake.image.url}}">
        
<!--------------------------------------------------------------->     
        
        <br> Page {{cakes.number}} of {{ cakes.paginator.num_pages}}
        <br> {% if cakes.has_previous %}
        <a href="?page={{ cakes.previous_page_number }}">Предыдущий</a> {% endif %} {%if cakes.has_next %}
        <a href="?page={{ cakes.next_page_number }}">Следующий</a> {% endif %} 
 
<!--------------------------------------------------------------->      
        
        <br> Название :{{ cake.name }}
        
<!--------------------------------------------------------------->
       
        <br> Описание :{{cake.description}}
        
<!--------------------------------------------------------------->
       
        <p>  Стоимость : {{cake.cost}} ₽</p>
       
<!--------------------------------------------------------------->
         
          <br> Вес :{{cake.weight}}
          
<!--------------------------------------------------------------->
    
        <br> Энергитическая ценность: {{cake.macrobiotic_value}} {% endfor %}
        
<!--------------------------------------------------------------->
   
</body>

</html>